*{
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
}

div#body{
  margin: 40px auto;
  width: 600px;
  min-height: 50px;
  background-color: grey;
  overflow: hidden;
}

div.abajo{
  width: 600px;
  min-height: 50px;

}

div.título{
  width: 600px;
  height: 40px;
  background-color: rgb(38, 125, 115);
  overflow: hidden;
}

p.título{
  margin: 13px;
  color: white;
}

div.info{
  width: 600px;
  height: 0px;
  background-color: rgb(233, 129, 137);
  overflow: hidden;
  -webkit-transition: height 0.2s;
}

p.info{
  margin: 20px;
  text-align: center;
  color: white;
}

div.abajo:hover div.info{
  height: 140px;
}
